<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste MVC</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>Teste Sillion Wallace</h1>
    </div>
    <div class="content">
        <form action="/processar" method="post">
            <label for="url">URL:</label>
            <input type="text" id="url" name="url" required>
            <br>
            <label for="phrase">Frase:</label>
            <input type="text" id="phrase" name="´phrase" required>
            <br>
            <button type="submit">Processar</button>
        </form>
    </div>
</body>
</html>
